<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
      point="org.eclipse.ui.bindings">
    <key sequence="M1+M2+F"
      contextId="org.xrepl.console.context"
      commandId="org.eclipse.xtext.ui.FormatAction"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
    <key sequence="M1+7"
      contextId="org.xrepl.console.context"
      commandId="org.eclipse.xtext.ui.ToggleCommentAction"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
    <key sequence="M1+/"
      contextId="org.xrepl.console.context"
      commandId="org.eclipse.xtext.ui.ToggleCommentAction"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
    <key sequence="M1+M2+C"
      contextId="org.xrepl.console.context"
      commandId="org.eclipse.xtext.ui.ToggleCommentAction"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>
   
   <extension
       point="org.eclipse.ui.contexts">
    <context
          id="org.xrepl.console.context"
          name="Xrepl Console"
          parentId="org.eclipse.ui.contexts.window">
    </context>
</extension>
</plugin>
